.pane1 {
    -fx-background-color: rgb(255,255,224);
}

.pane2 {
    -fx-background-color: rgb(255,255,224);
}

.pane3 {
    -fx-background-color: rgb(255,255,224);
}
.pane4 {
    -fx-background-color: rgb(255,255,224);
}
.pane5 {
    -fx-background-color: rgb(255,255,224);
}
.pane6 {
    -fx-background-color: rgb(255,255,224);
}
.pane7 {
    -fx-background-color: rgb(255,255,224);
}

.pane8 {
    -fx-background-color: rgb(255,255,224);
}

* {
    -fx-background-color: #15C8D8;
}