.pane1 {
    -fx-border-color: #225E75;
}

.pane2 {
    -fx-border-color: #225E75;
}

.pane3 {
    -fx-border-color: yellow;
    -fx-background-color: rgb(255,255,204);
    -fx-border-width: 2px 2px 2px 0px ;
}
.pane4 {
    -fx-border-color: yellow;
    -fx-background-color: rgb(255,255,204);
    -fx-border-width: 2px 2px 2px 0px ;
}

.pane5 {
    -fx-border-color: yellow;
    -fx-background-color: rgb(255,255,204);
    -fx-border-width: 2px 0px 2px 2px ;
}
.pane6 {
    -fx-border-color: yellow;
    -fx-background-color: rgb(255,255,204);
    -fx-border-width: 2px 0px 2px 2px ;
}